<launch>

      <arg name="publish_clock" default="--clock"/>
      <arg name="autorun" default="0"/>
      <arg name="loop_en" default="0"/>

      <!-- Path to MCDVIRAL dataset, downloadable at mcdviral.github.io. -->
      <arg name="data_path" default="/media/tmn/mySataSSD1/DATASETS/MCDVIRAL/PublishedSequencesUnzipped/"/>

      <!-- Choose the bag file -->
      <!-- <arg name="bag_file"  default="$(arg data_path)/ntu_day_01/*.bag"/> -->
      <arg name="bag_file"  default="$(arg data_path)/kth_day_06/*.bag"/>
      <!-- <arg name="bag_file"  default="$(arg data_path)/tuhh_day_03/*.bag"/> -->

      <!-- Directory to log the bundle adjustment poses, pointclouds, and others-->
      <arg name="exp_log_dir" default="/home/$(env USER)/slict_logs/mcdviral"/>

      <!-- Load the param -->
      <rosparam file="$(find slict)/config/mcdviral_atv.yaml" command="load" if="$(eval 'ntu'  in bag_file)"/>
      <rosparam file="$(find slict)/config/mcdviral_hhs.yaml" command="load" if="$(eval 'kth'  in bag_file)"/>
      <rosparam file="$(find slict)/config/mcdviral_hhs.yaml" command="load" if="$(eval 'tuhh' in bag_file)"/>

      <!-- Set some exp related params -->
      <param name="/autoexit" type="int"    value="$(arg autorun)" />
      <param name="/loop_en"  type="int"    value="$(arg loop_en)" />
      <param name="/log_dir"  type="string" value="$(arg exp_log_dir)" />

      <!-- Run the livox to ouster converter -->
      <node pkg="slict" required="true" type="slict_livox_to_ouster" name="slict_livox_to_ouster" respawn="false" output="log"/>

      <!-- Run the sensor sync -->
      <node pkg="slict" required="true" type="slict_sensorsync" name="slict_sensorsync" respawn="false" output="log"/>

      <!-- Run the Estimator -->
      <node pkg="slict" required="true" type="slict_estimator" name="slict_estimator" respawn="false" output="screen"/>

      <!--- Run Rviz-->
      <node pkg="rviz" type="rviz" name="rviz" respawn="true" output="log"
            args="-d $(find slict)/launch/mcdviral.rviz" />

      <!-- Play the bag file -->
      <param name="/use_sim_time" value="false" />

      <node required="false" pkg="rosbag" type="play" name="rosbag_player"
            args="$(arg publish_clock) $(arg bag_file) -r 1.0 -s 0"
            launch-prefix="bash -c 'sleep 1; $0 $@' "/>

      <!-- <node pkg="tf" type="static_transform_publisher" name="base2view" args="0 0 0 0 0 0 world local 1"/> -->

</launch>