<launch>

      <arg name="publish_clock" default="--clock"/>
      <arg name="autorun" default="0"/>
      <arg name="loop_en" default="0"/>

      <!-- mulran dataset -->
      <arg name="data_path" default="/media/tmn/mySataSSD1/DATASETS/MulRAN/"/>
      <arg name="bag_file"  default="$(arg data_path)/DCC01/DCC01.bag"/>
      <!-- <arg name="bag_file"  default="$(arg data_path)/KAIST01/KAIST01.bag"/> -->
      <!-- <arg name="bag_file"  default="$(arg data_path)/Riverside01/Riverside01.bag"/> -->
      <!-- <arg name="bag_file"  default="$(arg data_path)/Sejong01/Sejong01.bag"/> -->

      <!-- Enable prior map -->
      <arg name="use_prior_map" default="0"/>

      <!-- Chose the config file based on the sequence names -->
      <arg name="config_file" value="$(find slict)/config/mulran.yaml"/>

      <!-- Priormap file -->
      <arg name="prior_map_dir" default="/home/tmn"/>

      <!-- STD descriptor for relocalization -->
      <arg name="descriptor_path" default="/home/tmn/"/>

      <!-- Directory to log the bundle adjustment poses, pointclouds, and others-->
      <arg name="exp_log_dir" default="/home/$(env USER)/slict_logs/mulran"/>

      <!-- Load the param -->
      <rosparam file="$(arg config_file)" command="load"/>
      <!-- Set some exp related params -->
      <param name="/autoexit" type="int"    value="$(arg autorun)" />
      <param name="/loop_en"  type="int"    value="$(arg loop_en)" />
      <param name="/log_dir"  type="string" value="$(arg exp_log_dir)" />

      <!-- Run the converter -->
      <node pkg="slict" required="true" type="slict_mulran_to_ouster" name="slict_mulran_to_ouster" respawn="false" output="screen">
            <remap from="/Ouster_Points" to="/Ouster" />
      </node>

      <!-- Run the sensor sync -->
      <node pkg="slict" required="true" type="slict_sensorsync" name="slict_sensorsync" respawn="false" output="log"/>

      <!-- Run the relocalization -->
      <!-- <node if="$(eval use_prior_map > 0)" pkg="slict" required="true" type="slict_relocalization" name="slict_relocalization" respawn="false" output="screen">
            <param name="relocalization/descriptor_file_path" type="string" value="$(arg descriptor_path)"/>
      </node> -->

      <!-- Run the Estimator -->
      <param name="/prior_map_dir"  type="string" value="$(arg prior_map_dir)" />
      <param name="/use_prior_map"  type="int"    value="$(arg use_prior_map)" />
      <param name="/show_report"    type="int"    value="1"/>
      <param name="/slam_ref_frame" type="string" value="odom"/>
      <node pkg="slict" required="true" type="slict_estimator" name="slict_estimator" respawn="false" output="screen"/>

      <!-- Run the imu predictor -->
      <node pkg="slict" type="slict_imu_odom" name="slict_imu_odom" respawn="true" output="screen"/>

      <!--- Run Rviz-->
      <node pkg="rviz" type="rviz" name="rviz_slam" respawn="true" output="log"
            args="-d $(find slict)/launch/mulran.rviz" />

      <!-- An offset time -->
      <arg name="start_time" value="0" if="$(eval 'ntu_day_10' in bag_file)"/>
      <arg name="start_time" value="0" if="$(eval 'ntu_day_10' not in bag_file)"/>

      <!-- Play the bag file -->
      <param name="/use_sim_time" value="false" />
      <arg name="wait_time" value="$(eval use_prior_map*20 + 1)" />
      <node required="false" pkg="rosbag" type="play" name="rosbag_player"
            args="$(arg publish_clock) $(arg bag_file) -r 1.0 -s $(arg start_time)"
            launch-prefix="bash -c 'sleep $(arg wait_time); $0 $@' "/>

      <!-- <node pkg="tf" type="static_transform_publisher" name="base2view" args="0 0 0 0 0 0 world local 1"/> -->

</launch>