<launch>

      <arg name="publish_clock" default="--clock"/>
      <arg name="autorun" default="0"/>
      <arg name="loop_en" default="0"/>

      <!-- MCDVIRAL dataset, downloadable at mcdviral.github.io. -->
      
      <arg name="data_path" default="/media/tmn/mySataSSD2/DATASETS/Helmet"/>

      <arg  name="bag_file"  default="$(arg data_path)/helmet_01/*.bag"/>

      <!-- Chose the config file based on the sequence names -->
      <arg name="config_file" value="$(find slict)/config/helmet.yaml" if="$(eval 'helmet_'  in bag_file)" />

      <!-- Priormap file -->
      <arg name="prior_map_dir" default="/media/tmn/mySataSSD2/DATASETS/MCDVIRAL/PriorMap/NTUCampus/nkcamp_prior_hires" if="$(eval 'helmet_'  in bag_file)" />

      <group if="$(eval 'helmet_01' in bag_file)">   <rosparam param="/tf_Lprior_L0_init"> [56.14, 106.63, 7.58, 18, 0, 0] </rosparam> </group>

      <!-- Directory to log the bundle adjustment poses, pointclouds, and others-->
      <arg name="exp_log_dir" default="/home/$(env USER)/slict_logs/helmet"/>

      <!-- Load the param -->
      <rosparam file="$(arg config_file)" command="load"/>
      <!-- Set some exp related params -->
      <param name="/autoexit" type="int"    value="$(arg autorun)" />
      <param name="/loop_en"  type="int"    value="$(arg loop_en)" />
      <param name="/log_dir"  type="string" value="$(arg exp_log_dir)" />

      <!-- Run the livox to ouster converter -->
      <node pkg="slict" required="true" type="slict_livox2_to_ouster" name="slict_livox2_to_ouster" respawn="false" output="screen"/>

      <!-- Run the sensor sync -->
      <node pkg="slict" required="true" type="slict_sensorsync" name="slict_sensorsync" respawn="false" output="log"/>

      <!-- Run the Estimator -->
      <param name="/prior_map_dir" type="string" value="$(arg prior_map_dir)" />
      <node pkg="slict" required="true" type="slict_estimator" name="slict_estimator" respawn="false" output="screen">
      </node>

      <!--- Run Rviz-->
      <node pkg="rviz" type="rviz" name="rviz" respawn="true" output="log"
            args="-d $(find slict)/launch/helmet.rviz" />

      <!-- Play the bag file -->
      <param name="/use_sim_time" value="false" />

      <node required="false" pkg="rosbag" type="play" name="rosbag_player"
            args="$(arg publish_clock) $(arg bag_file) -r 1.0 -s 0"
            launch-prefix="bash -c 'sleep 1; $0 $@' "/>

      <!-- <node pkg="tf" type="static_transform_publisher" name="base2view" args="0 0 0 0 0 0 world local 1"/> -->

</launch>