<launch>

      <arg name="publish_clock" default="--clock"/>
      <arg name="autorun" default="0"/>
      <arg name="loop_en" default="0"/>

      <!-- MCDVIRAL dataset, downloadable at mcdviral.github.io. -->
      
      <arg name="data_path"       default="/media/$(env USER)/mySataSSD1/DATASETS/elfant"/>
      <arg name="descriptor_path" default="/media/$(env USER)/mySataSSD1/DATASETS/elfant/Reloc/elfant_04/saved_descriptors/"/>

      <!-- <arg  name="bag_file"  default="$(arg data_path)/elfant_01/*.bag"/> -->
      <!-- <arg  name="bag_file"  default="$(arg data_path)/elfant_02/*.bag"/> -->
      <!-- <arg  name="bag_file"  default="$(arg data_path)/elfant_03/*.bag"/> -->
      <!-- <arg  name="bag_file"  default="$(arg data_path)/elfant_04/*.bag"/> -->
      <!-- <arg  name="bag_file"  default="$(arg data_path)/elfant_05/*.bag"/> -->
      <!-- <arg  name="bag_file"  default="$(arg data_path)/elfant_06/*.bag"/> -->
      <!-- <arg  name="bag_file"  default="$(arg data_path)/elfant_07/*.bag"/> -->
      <!-- <arg  name="bag_file"  default="$(arg data_path)/elfant_08/*.bag"/> -->
      <arg  name="bag_file"  default="$(arg data_path)/elfant_09/*.bag"/>

      <!-- Enable prior map -->
      <arg name="use_prior_map" default="1"/>

      <!-- Chose the config file based on the sequence names -->
      <arg name="config_file" value="$(find slict)/config/elfant.yaml"/>

      <!-- Priormap file -->
      <arg name="prior_map_dir" default="/media/$(env USER)/mySataSSD1/DATASETS/elfant/Reloc/nkcamp_prior_slict"/>

      <!-- <group if="$(eval 'elfant_01' in bag_file)"> <rosparam param="/tf_Lprior_L0_init"> [55.10, 109.40, 6.44,  12.5, 0, 0] </rosparam> </group> -->
      <!-- <group if="$(eval 'elfant_02' in bag_file)"> <rosparam param="/tf_Lprior_L0_init"> [55.07, 105.76, 7.71, -17,   0, 0] </rosparam> </group> -->
      <!-- <group if="$(eval 'elfant_03' in bag_file)"> <rosparam param="/tf_Lprior_L0_init"> [55.65, 104.97, 7.68, -32,   0, 0] </rosparam> </group> -->

      <!-- Directory to log the bundle adjustment poses, pointclouds, and others-->
      <arg name="exp_log_dir" default="/home/$(env USER)/slict_logs/elfant"/>

      <!-- Load the param -->
      <rosparam file="$(arg config_file)" command="load"/>
      <!-- Set some exp related params -->
      <param name="/autoexit" type="int"    value="$(arg autorun)" />
      <param name="/loop_en"  type="int"    value="$(arg loop_en)" />
      <param name="/log_dir"  type="string" value="$(arg exp_log_dir)" />

      <!-- Run the livox to ouster converter -->
      <node pkg="slict" required="true" type="slict_hesai_to_ouster" name="slict_hesai_to_ouster" respawn="false" output="screen"/>

      <!-- Run the sensor sync -->
      <node pkg="slict" required="true" type="slict_sensorsync" name="slict_sensorsync" respawn="false" output="log"/>

      <!-- Run the relocalization -->
      <node if="$(eval use_prior_map > 0)" pkg="slict" required="true" type="slict_relocalization" name="slict_relocalization" respawn="false" output="screen">
            <param name="relocalization/descriptor_file_path" type="string" value="$(arg descriptor_path)"/>
      </node>
      
      <!-- Run the Estimator -->
      <param name="/prior_map_dir" type="string" value="$(arg prior_map_dir)" />
      <param name="/use_prior_map" type="int"    value="$(arg use_prior_map)" />
      <param name="/show_report"   type="int"    value="1"/>
      <param name="/slam_ref_frame" type="string" value="odom"/>
      <node pkg="slict" required="true" type="slict_estimator" name="slict_estimator" respawn="false" output="screen">
            <rosparam param="/T_M_W_init"> [ 1.0,  0.0,  0.0,  15,
                                             0.0,  1.0,  0.0,  68,
                                             0.0,  0.0,  1.0,  0,
                                             0.0,  0.0,  0.0,  1.0 ]
            </rosparam>
      </node>

      <!-- Run the imu predictor -->
      <node pkg="slict" type="slict_imu_odom" name="slict_imu_odom" respawn="false" output="screen" required="true">
            <!-- Transform from the body to the vehicle frame -->
            <rosparam param="/T_B_V"> [ 1.0,  0.0,  0.0,  0.082,
                                        0.0, -1.0,  0.0,  0.052,
                                        0.0,  0.0, -1.0, -0.026,
                                        0.0,  0.0,  0.0,  1.000 ]
            </rosparam>
      </node>

      <!-- Run the imu predictor -->
      <node pkg="slict" type="slict_imu_odom" name="slict_imu_odom_inM" respawn="false" output="screen" required="true">
            <!-- Transform from the body to the vehicle frame -->
            <rosparam param="/T_B_V"> [ 1.0,  0.0,  0.0,  0.082,
                                        0.0, -1.0,  0.0,  0.052,
                                        0.0,  0.0, -1.0, -0.026,
                                        0.0,  0.0,  0.0,  1.000 ]
            </rosparam>
            <remap from="/opt_odom" to="/opt_odom_inM"/>
            <remap from="/pred_odom_W_V" to="/pred_odom_M_V"/>
      </node>

      <!--- Run Rviz-->
      <node pkg="rviz" type="rviz" name="rviz_slam" respawn="true" output="log"
            args="-d $(find slict)/launch/elfant.rviz" />

      <!-- Play the bag file -->
      <!-- <param name="/use_sim_time" value="false" />
      <arg name="wait_time" value="$(eval use_prior_map*8 + 1)" />
      <node required="false" pkg="rosbag" type="play" name="rosbag_player"
            args="$(arg publish_clock) $(arg bag_file) -r 1.0 -s 20.0"
            launch-prefix="bash -c 'sleep $(arg wait_time); $0 $@' "/> -->

      <!-- <node pkg="tf" type="static_transform_publisher" name="base2view" args="0 0 0 0 0 0 world local 1"/> -->

</launch>